
body{

  overflow-x: hidden;

}
p{
  font-size: 15px;
  color: #fff;
}
p.copyright {
    color: #000;
    line-height: 1.8em;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0em;
    background: #e52a2a;
    padding: 10px 0;
    border-radius: 8px;
}

p.copyright a {
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
}

p.copyright a:hover {
    color: #363436;
}
.nav-item{
  font-weight: bold;
  font-size: 13px;
  padding-right: 3px;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus{
  background: #363436;
  color: #fff;
  border: 1px;
  border-color: #e52a2a;
  border-radius: 5%;
}
.nav-item a:hover {
            color: white !important;
            cursor: pointer;
        }

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$4444*/



/* # Social menu
================================ */

#top-social-menu {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 12px;
  z-index: 101;
  padding-right: 0px;
  list-style: none;
  color: #2E1C05;
  transition: all 0.2s ease-out;
}

#top-social-menu li {
  float: left;
  padding: 10px 15px;
}

#top-social-menu li:last-child {
  padding-right: 0;
}

#top-social-menu li a {
  text-decoration: none;
  color: #2E1C05;
}

#top-social-menu li a:hover {
  text-decoration: none;
  color: #543A1A;
}

#top-social-menu i {
  font-size: 16px;
  
  transition: all 0.2s ease-in;
}

#top-social-menu i:hover {
  text-decoration: none;
  color: #543A1A;
}

.six{
      background-image: linear-gradient(to bottom right,#000, #363436,#363436,#363436,#363436,#363436,#363436,#e52a2a,#e52a2a);
      color: #000;
      width: 100%;

}

.two{
      background-image: linear-gradient(to bottom left,#e52a2a, #363436,#363436,#363436,#000);
      color: #000;
      max-width: 100%;
}
.three{
      background-image: linear-gradient(to top right,#e52a2a,#e52a2a, #363436,#363436,#363436,#363436,#363436,#363436,#363436,#000 );
      color: #fff;
            max-width: 100%;


}
.four{
      background-image: linear-gradient(to top left,#000, #363436,#363436, #363436,#363436,#363436,#363436,#e52a2a,#e52a2a);
      color: #000;
            max-width: 100%;


}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.roundimage img{
	margin-top:20px;
	border-radius: 200px;
	height:250px;
	width:230px;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: #e52a2a;
}




.fa {
  float:right;
  padding-top: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.9;
    text-decoration: none;
}

.two .fa-facebook {
  background:  ;
  color: #000;
}
.two .fa-facebook:hover {
  background: #3B5998;
  color: white;
}

.two .fa-twitter {
  background:;
  color: .#000;
}
.two .fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-google {
  background: #e62b1e;
  color: white;
}
.fa-google:hover {
    background: #dd4b39;
    color: white;
}

.two .fa-linkedin {
  background:  ;
  color: #000;
}

.two .fa-linkedin:hover{
  background-color: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #e62b1e;
  color: white;
}
.fa-youtube:hover {
      background: #bb0000;
      color: white;
}

.two .fa-instagram {
  background:  ;
  color:#000;
}
.two .fa-instagram:hover {
    background: #fb3958;
    color: white;
}
.fa-snapchat-ghost {
  background: #e62b1e;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-snapchat-ghost:hover {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}



/*-------------------------------------------------------------------------------------------------------------------*/


.navbar-brand {
  font-size: 15px;
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}


.example4 .navbar-brand>img {
  padding: 7px 14px;
}
@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

/*------------------------------------------------------------------------------------------------------------------------*/