/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;

}

canvas {
  display: block;
  vertical-align: bottom;
  float: right;
  background-image: url("");

  background-position: center;
  background-repeat: no-repeat;
  max-height: 25%;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 35%;
  background-color: #fff;
  background-image: url("https://scontent.fnag1-2.fna.fbcdn.net/v/t1.0-9/50730738_2021492231275797_3752656365537984512_o.jpg?_nc_cat=108&_nc_ht=scontent.fnag1-2.fna&oh=a3e70e1d0681610cb178c176f2776658&oe=5CC3D923");
  background-repeat: no-repeat;
   background-size: 75%;
  background-position: 50% 50%;
  overflow: hidden;
}

/* ---- stats.js ----

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
